body {
	background: linear-gradient(to right, red, yellow);
	margin-top: 5cm;
}
a {
	color: blue;
}

div {
	text-align: center;
}

h1 {
	font-size: 50px;
	font-family: sans-serif;
	font-style: oblique;
	text-shadow: 0 0 10px blue;
	text-align: center;
	text-align: center;
}

button {
	border: solid 1px black;
	background: transparent;
	font-size: 25px;
	padding: 5px;
	border-radius: 10px;
	transition: .5s;
}

button:hover {
	background-color: grey;
	color: white;
}